[Unit]
Description=Scitra-TUN
After=network-online.target scion-daemon.service
BindsTo=scion-daemon.service
StartLimitBurst=1
StartLimitInterval=1s

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
Restart=on-failure
User=scion
Group=scion
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
ExecStart=/usr/bin/scitra-tun --config /etc/scion/scitra-tun.conf
ExecStartPost=+/usr/bin/bash /usr/share/scitra-tun/config-routes start
ExecStartPost=+/usr/bin/bash /usr/share/scitra-tun/config-dns start
ExecStopPost=+/usr/bin/bash /usr/share/scitra-tun/config-dns stop
ExecStopPost=+/usr/bin/bash /usr/share/scitra-tun/config-routes stop
